/* Container */
.auth-login-form {
	display: none;
}
.login-form-container {
	  position: relative;
	  max-width: 460px;
	  width: 100%;
		top: 50%;
    margin: -280px auto 100px;
}
.login-form-container.login-form-active .login-form-card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.login-form-container.login-form-active .login-form-card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.login-form-container.login-form-active .login-form-card.alt {
  top: -90px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.login-form-container.login-form-active .login-form-card.alt .login-form-toggle {
  position: absolute;
  top: 40px;
  right: 110px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.login-form-container.login-form-active .login-form-card.alt .login-form-toggle:before {
  content: '';
}
.login-form-container.login-form-active .login-form-card.alt .login-form-title,
.login-form-container.login-form-active .login-form-card.alt .login-input-container,
.login-form-container.login-form-active .login-form-card.alt .login-button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-form-container.login-form-active .login-form-card.alt .login-form-title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.login-form-container.login-form-active .login-form-card.alt .login-input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.login-form-container.login-form-active .login-form-card.alt .login-input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.login-form-container.login-form-active .login-form-card.alt .login-input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.login-form-container.login-form-active .login-form-card.alt .login-button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.login-form-card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.login-form-card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.login-form-card .login-form-title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
/*   cursor: default; */
}
.login-form-card .login-form-title > form {

}
.login-form-card .login-input-container {
  position: relative;
  margin: 0 60px 40px;
}
.login-form-card .login-input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.login-form-card .login-input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.login-form-card .login-input-container input:focus ~ .bar:before, .card .login-input-container input:focus ~ .bar:after {
  width: 50%;
}
.login-form-card .login-input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.login-form-card .login-input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.login-form-card .login-input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.login-form-card .login-input-container .bar:before, .login-form-card .login-input-container .bar:after {
  content: '';
  position: absolute;
  background: #ed2553;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.login-form-card .login-input-container .bar:before {
  left: 50%;
}
.login-form-card .login-input-container .bar:after {
  right: 50%;
}
.login-form-card .login-button-container {
  margin: 0 60px;
  text-align: center;
}
.login-form-card .login-button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-form-card .login-button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-form-card .login-button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-form-card .login-button-container button:hover, .login-form-card .login-button-container button:active, .login-form-card .login-button-container button:focus {
  border-color: #ed2553;
}
.login-form-card .login-button-container button:hover span, .login-form-card .login-utton-container button:active span, .login-form-card .login-button-container button:focus span {
  color: #ed2553;
}
.login-form-card .login-button-container button:active span, .login-form-card .login-button-container button:focus span {
  color: #ffffff;
}
.login-form-card .login-button-container button:active:before, .login-form-card .login-button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.login-form-card .login-form-footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.login-form-card .login-form-footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-form-card .login-form-footer a:hover {
  color: #bababa;
}
.login-form-card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.login-form-card.alt .login-form-toggle {
  position: relative;
  background: #e2525c;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.login-form-card.alt .login-form-toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.login-form-card.alt .login-form-title,
.login-form-card.alt .login-input-container,
.login-form-card.alt .login-button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.login-form-card.alt .login-form-title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.login-form-card.alt .login-form-title .login-form-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.login-form-card.alt .login-form-title .login-form-close:before {
  content: '\00d7';
}
.login-form-card.alt .login-input-container input {
  color: #ffffff;
}
.login-form-card.alt .login-input-container input:focus ~ label {
  color: #ffffff;
}
.login-form-card.alt .login-input-container input:focus ~ .login-form-bar:before, .login-form-card.alt .login-input-container input:focus ~ .login-form-bar:after {
  background: #ffffff;
}
.login-form-card.alt .login-input-container input:valid ~ label {
  color: #ffffff;
}
.login-form-card.alt .login-input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.login-form-card.alt .login-input-container .login-form-bar {
  background: rgba(255, 255, 255, 0.8);
}
.login-form-card.alt .login-button-container button {
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  border-color: #ffffff;
}
.login-form-card.alt .login-button-container button span {
  color: #ed2553;
}
.login-form-card.alt .login-button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.login-form-card.alt .login-button-container button:active:before, .login-form-card.alt .login-button-container button:focus:before {
  display: none;
}
.login-register-form {
	margin-top: -20px;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
