@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
.mento-list {
	padding:auto;
	width:1265px;
	
}
.mento-top > hr{
	    margin-top: 10px;
    margin-left: 12px;
    width: 267px;
    border: 1px solid;
    margin-bottom: 10px;
} 

.mento-btn {
	  position: absolute;
    bottom: -50px;
}
.mento-detail-list {
    margin: 7px;
    margin-top: 25px;
    height: 84%;
}

.app {
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
/*     box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); */
}

.app h2 {
-webkit-perspective: 400;
    perspective: 400;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #525661;
    /* box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1); */
    padding: 20px 28px 0 17px;
    margin: -6px 0 0 0;
    text-shadow: 1px 1px lightblue;
}



.mt-detail-list {
    display: block;
    position: relative;
    width: 100%;
    height: 95%;
/*     border: 1px solid blue; */
    padding: 1%;
    -webkit-box-align: center;
}

.mt-list {
    display: inline-block;
    width: 550px;
    height: 295px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 54px;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(231, 76, 60, 0.35);
	
}

.mt-conts > img {
    width: 100%;
    height: 148%;
    margin-left: 3px;
    margin-top: 5px;
}

.pageBtn {
    margin-top: 20px;
    margin-left: 591px;
    display: inline-block;
    width: 100px;
    height: 30px;
	
}

.like-mt-photo, .detail-mt-photo {
    border-radius: 100%;
    width: 100px;
    height: 90px;
    position: absolute;
    z-index: 2000;
    top: -6px;
    left: 454px;
    padding: 6px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
    inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.like-mt-photo img,
.detail-mt-photo img {
    border-radius: 100%;
    width: 87px;
    height: 77px;
    position: relative;
}

.mt-photo{ 
    display: inline-block;
    border-radius: 100%;
    width: 100px;
    height: 90px;
    position: absolute;
    z-index: 2000;
    top: -15px;
    left: 400px;
    padding: 6px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), 
    inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}


.mt-photo img {
    border-radius: 100%;
    width: 87px;
    height: 77px;
    position: relative;
}

   .mt-btm {
/*    display:none; */
    position: absolute;
     background:transparent;
/*     background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db); */
    display: inline-block;
    height: 445px;
    width: 100%;
    height: 28%;
    font-family: 'Daum_SemiBold';
    margin-top: 10px;
    border-radius: 10px;
    left: 0;
    top: 207px;
   }



.mt-conts {
	display: inline-block;
width: 530px;
    height: 184px;
        margin: 7px 0 0 7px;
}

.mt-name {
	
    left: 350px;
    display: none;
/*     display: inline-block; */
    position: absolute;
    top: 15px;
	
}
.mento-name {
	font-family:'Roboto';

	}


/* 좋아요 버튼 */

.buttonHolder{
    background: transparent;
    top: 247px;
    width: 26px;
    height: 38px;
    position: absolute;
    display: inline-block;
    border: transparent;
}


    .btn{
border-radius: 50%;
    float: left;
    height: 38px;
    /* margin: 0 30px 30px 0; */
    position: absolute;
    /* padding: 0px; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    background-color: transparent;
    }

    .btn:after{
    content: "";
    display: block;
    font-size: 23px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    background-color: transparent;
    width: 30px;
    opacity: 0.7;
    }


    .heart:after{
    content: "❤";
    left:0px;
    top: 6px;
    background-color: transparent;
    }


    .btn:hover{
    background-color: transparent;
/*       background-image: -webkit-linear-gradient(top, #fff, #f4f1ee); */
/*       background-image: linear-gradient(top, #fff, #f4f1ee); */
      color:#0088cc;
    }

    .heart:hover:after{
    background-color: transparent;
      color:#f94e66;
      text-shadow:0px 0px 6px #f94e66;
    }




/* =================
좋아요 페이지 카테고리 버튼
====================*/


.side-container{
    width: 195px;
    margin-top: 10px;
    /* box-shadow: 0 2px 2px 2px rgba(51, 122, 183, 0.23); */
    transition: all 0.3s linear;
    display: inline-block;
    position: absolute;
    margin-left: 1257px;
    margin-top: -9px;
    background: transparent;
    /* border-radius: 0 10px 10px 0; */
    overflow: hidden;
    transform: skew(0deg) rotate(90deg) translate(36.5%, 150%);
    box-shadow: 1px -8px 9px 1px rgba(0, 0, 0, 0.1);
    border-bottom: transparent;
    z-index: 300;
}
.side{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.side li{
    height: 50px;
    position: relative;
    width: 95px;
}

.side a {
    border-top: 1px solid rgba(255,255,255,0.1);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    background: rgba(0, 0, 0, .0001);
    margin-left: 3px;
}
.active {
    display: inline-block;
    background: white;
}
.active a{
    color: rgba(49, 112, 143, 0.82);
    outline: 0;
}
.side li:not(.active) {
    display: inline-block;
}
.side li:not(.active):hover a{

    color: #777;
/*     border-left: 5px solid #FCFCFC; */
}
.side span[class ^= "icon"]{
    position: absolute;
    left: 10px;
    font-size: 1.5em;
    transition: all 0.3s linear;
}
.side span[class ^= "text"]{
    font-family: 'Hanna';
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
}



 @media only screen and (max-width : 860px){ 
  
 .side .text{
    display:none;
  }
  
  .side-container , a{
    width: 70px;
    
  } 
   
/*  .nav a:hover{
    width:200px; 
    z-index:1;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px 1px black;
  } */
  
 .side a:hover .text {
    display:block;
    padding-left:30%;
  }
}
 @media only screen and (max-width : 480px){ 
  .side-container,.nav a{ width:50px;}
 .side span[class ^= "icon"]{ left:8px;}
 } 


.icon-home:before {
    content: "\f015";
}
[class^=icon-]:before, [class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}


.icon-facetime-video:before {
    content: "\f03d";
}

