@CHARSET "UTF-8";

.pop-modal {
	display:none;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  width: 100vw; 
  height: 100vh; 
  z-index: 10000; 
  top: 0;
}

#wrap_header {
	position: absolute;
}

#container {
  font-size: 13px; 
}

#contents {
  margin: 0 auto;
  width: 960px;
}

.modal-back {
  position: fixed;
  z-index: 9999;
  box-shadow: inset 0 0 0 50vmax rgba(0,0,0,.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vmax;
  height: 100vmax;
}

.modal-content {
	position: relative;
	margin-bottom: 100px;
	top: 10vmin;
  width: 100%; 
  border-radius: 10px; 
  z-index: 10000;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.modal-btn {
	cursor: pointer;
  position: absolute;
  top: 125px;
  right: -30px;
  z-index: 9998;
}

#down-btn {
	top: 175px;
}

#like-btn, 
#down-btn {
	display: block;
}

#like-c-btn {
  display: none;
}

#down-btn img:nth-child(2) {
  display: none;	
}

#down-btn:hover img:nth-child(1) {
  display: none;	
}

#down-btn:hover img:nth-child(2) {
  display: inline-block;	
  text-align: justify;
}

#x-btn {
	position: absolute;
  top: -40px;
  right: -60px;
}

#comment {
	position: absolute;
  top: 60px;
  left: 440px;
}

#comment div:NTH-CHILD(odd) {
	border-radius: 10px;
	opacity: 0;
	position: relative;
	padding: 10px;
	overflow: hidden;
}

#comment div:NTH-CHILD(even) {
	border: 1px solid gray;
	border-radius: 10px;
	background-color: white;
	position: relative;
	display: none;
	padding: 10px;
}

#comment div:nth-child(1),
#comment div:nth-child(2) {
	width: 200px;
  height: 70px;
  left: 15px;
}

#comment div:nth-child(2) {
	top: -90px;
}

#comment div:nth-child(2):hover,
#comment div:nth-child(1):hover+div {
  display:inline-block;
  cursor: pointer;
}

#comment div:nth-child(3),
#comment div:nth-child(4) {
	width: 130px;
	height: 150px;
	top: 240px;
	left: 40px;
}

#comment div:nth-child(4) {
	top: 60px;
  width: 180px;
  height: 190px;
}

#comment div:nth-child(4):hover,
#comment div:nth-child(3):hover+div {
  display:inline-block;
  cursor: pointer;
}