@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css?family=Pangolin');

 body {
  font-family:'Daum_SemiBold' !important;

} 

* { margin: 0; padding: 0; }
li {list-style: none;}
a { text-decoration: none; color: black;}
img { border: 0;}
.btm-line { /* 컨텐츠 타이틀과 btm 사이 */
	  margin-bottom: 0px;
    margin-top: 0px;
	  width: 75%;
    border: 0;
    border-top: 2px solid rgba(169, 68, 66, 0.19);
}

 .object, .object2 {
  position: relative;
  right: -100vw;
  width: 960px;
  margin: 2% auto;

} 

.list-type {
  display: inline-block;
  position: relative;
    width: 400px;
    height: 40px;
    margin-left: 65%;
}


.list-type ul {  /* 추천목록 좋아요 목록 바깥 틀 */
    width: 220px;
    margin: 0 auto;
    margin-bottom:5%;
/*     border: 1px solid; */
}
.list-type li {
	padding:3%;
display: inline-block;
/* 	    border: 1px solid; */
}

#rec-list {
	margin-right:10px;
	border-bottom:2px solid blue;
}

 
#like-list:hover, #rec-list:hover,
.rec-btn:hover, .like-btns:hover {
	font-size:17px;
text-decoration:none;
}



/* =================================아래부터 추천직업=============================================================== */
  .title-bar {
    cursor: pointer;
    width: 111%;
    height: 50px;
    position: relative;
    padding-left:10px;
    border-radius:10px;
     } 
     
     .title-bar-back:hover {
     background-color:rgba(255, 0, 0, 0.1);
     
     }

    #all-like-list .title:hover {
         /* background: radial-gradient(50% 50%, #fff, #fff); */
     color: #3c3e3e;;
     text-shadow: 1px 1px 2px #fff, 0 0 0 #000, 1px 1px 2px #fff;
     }
     
     #all-rec-list .title:hover {
         /* background: radial-gradient(50% 50%, #fff, #fff); */
     color: #3c3e3e;;
     text-shadow: 1px 1px 2px #fff, 0 0 0 #000, 1px 1px 2px #fff;
     }
     
     .title span {
     font-size:10px;
     }
  
  
   #list-form{
  color:black;
  width: 100%;
  height: 100%;
  min-height:20%;
  position:relative;
  -webkit-perspective:1000px;
  perspective:1000px;
  -webkit-transform-style:preserve-3d;
   transform-style:preserve-3d;
    margin-bottom: 10%;
}
  
     
.job-all, .all-rec-model, .all-rec-mento, .video-all {
  margin-left: 4%;
  width: 80%;
  
} 

#all-rec-list .title {
  width:75px;
      display: inline-block;
    position: relative;
  
}

#all-like-list .title {
  width:150px;
      display: inline-block;
    position: relative;
  
}

.object .obj-line {
  margin-top: 1%;
  margin-left:7%;
  width:15%;
  color:rgba(255,255,255,.2);
}


 .rec { /* 추천 목록들 사진 */
  width:220px;
  display:inline-block;
  height:50%;
  height: 148px;
  margin-top:2%;
  margin-left:4.5%;
  margin-right:3%;
      bottom: 50px;
   } 
   
   .rec-job1, .rec-job2, .rec-mento1, .rec-mento2,
   .rec-model, 
   .rec-video1, .rec-video2 {
     border-radius: 18px;
   }
   .model-detail {
   display: none;
     /* display: -webkit-inline-box; */
    width:110%;
   font-family: 'Daum_SemiBold';
   margin-top:3px;
   margin-left:10px;
   }
   
   
    .job-conts, .model-conts, .mento-conts, .video-conts {
  position: relative;
   display:inline-block;
    width: 250px;
    padding-left: 0.4%;
    height: 235px;
    margin-bottom: 5%;
   
   } 
   
   .job2-conts, .model2-conts, .mento2-conts, .video2-conts {
   position: relative;
    display:none;
    width: 250px;
    padding-left: 3px;
    height: 235px;
   
   }
   
   .job-conts:hover, .model-conts:hover, .mento-conts:hover, .video-conts:hover,
   .job2-conts:hover, .model2-conts:hover, .mento2-conts:hover, .video2-conts:hover {
   background-color: rgba(100, 149, 237, 0.46);
   border-radius: 15px;
   cursor:pointer;
   z-index:100;
   
   }
   
   .model-conts:hover > .model-detail,
   .model2-conts:hover > .model-detail {
     display: -webkit-inline-box;
   }
    
   
    .job-detail p {
    margin-top:3%;
    width:200px;
    font-size:10px;
     filter:alpha(style=2);
     color:#585858;
    }
     .job-detail span {
     color:#ff8000;
    }
    
    .mento-detail p {
    margin-top:3px;
    margin-bottom:2px;
    width:200px;
    font-size:10px;
     filter:alpha(style=2);
     color:#585858;
    }
    
      .mento-date span, .mento-tag span  {
     position:absolute;
     margin-bottom: 2px;
     
    font-size:13px;
     color:black;
    }
     .mento-date p, .mento-tag p {
    margin-top:2px;
    font-size:10px;
    margin-bottom:1px;
    margin-left:50px;
     color:#585858;
    }
    
    .model-detail p {
    margin-top:3px;
    margin-bottom:2px;
    width:200px;
    font-size:10px;
     filter:alpha(style=2);
     color:#585858;
    }
    
      .model-date span, .model-tag span  {
     position:absolute;
     margin-bottom: 2px;
     
    font-size:13px;
     color:black;
    }
     .model-date p, .model-tag p {
    margin-top:2px;
    font-size:10px;
    margin-bottom:1px;
    margin-left:50px;
     color:#585858;
    }
    
    .video-name {
     margin-top: 2px;
     font-size:11px;
     color: #585858;
    } 
    
    .video-title p {
    margin-top:3px;
    margin-bottom:2px;
    width:250px;
    font-size:12px;
     filter:alpha(style=2);
     color:black;
    }
    
    
    .video-date span, .video-tag span  {
     position:absolute;
     margin-bottom: 2px;
     
    font-size:13px;
     color:black;
    }
     .video-date p, .video-tag p {
    font-size: 10px;
    margin-left: 5px;
    color: #585858;
    position: relative;
    display: -webkit-inline-box;
    }
    
    .video-tag {
    font-size: 12px;
    }
   
   
   .job-btm, .mento-btm, .video-btm, .model-btm {
   width:110%;
   font-family: 'Daum_SemiBold';
   margin-top:3px;
   margin-left:20px;
   }
   .job-name, .mento-name, .video-name {
   position:relative;
   }

   .mento-name-favor,
   .model-name-favor,
   .job-name-favor,
   .video-name-favor {
   margin-top:5%;
    margin-bottom:2px;
   }
   
   #job1, #job2, #job3, #job4, #job5, #job6,
   #mento1, #mento2, #mento3, #mento4, #mento5, #mento6,
   #video1, #video2, #video3, #video4, #video5, #video6
   {
   top:5px;
   background-position: center center;
   background-size: cover;
   background-repeat:no-repeat;
   }
   
   
    .all-btn { 
     width: 80px;
    position: absolute;
    display: inline-block;
    bottom:30%;
    top:10px;
    right:10px;
    height:20px;
/*     margin-left: 710px; */
     
    }
    
/*     .job-name img,
    .mento-name img,
    .model-name img,
    .video-name img {
     max-width: 100%; 
     height: auto;
    }  */
    
    .job-effect,  .model-effect, .mento-effect, .video-effect {
    width: 850px;
    height: 250px;
    background: #fff;
    border-color:transparent;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: 5%;
}
/*     border:1px solid; */
    
    }
    
    h4 {
    font-famliy:'Daum_SemiBold';
     margin:0 auto;
     position:absolute; 
     padding: 0.4em; 
     background-color:blue;
     }
     
   .all-hr {
    margin-left: 4.3%;
    margin-bottom: 3%;
    border: none;
    width: 88%;
    border: 2px solid rgba(16, 16, 15, 0.56);
    position: relative;
    }
     
    
    
     /* ========================추천인물=================== */

   .ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

} 

#model-text1, #model-text2 {
position: relative;
    display: inline-block;
    width: 100%;
    top: -300px;
    height: 100%;
}

 .model-slide {
	border-radius:10px;
	position:relative;
	float: left;
	width: 500px;
  height: 300px;
  text-align: -webkit-match-parent;
  overflow: hidden;
} 

.model-slide img {
	
	
}

#model-text1 span{
    position: absolute;
    color: #f5f5f5;
    font-size: 12px;
    text-shadow: 2px 2px rgba(60, 118, 61, 0.43);
    left: 20px;
    top: 140px;
    width: 40%;
    height: 20px;
}

#model-text1 p{
   position: absolute;
    color: #8a6d3b;
    font-size: 17px;
    text-shadow: 1px 1px rgba(183, 51, 51, 0.36);
    left: 150px;
    top: 190px;
    width: 40%;
    height: 20px;
}


#model-text1 strong {
    position: absolute;
    display: inline-block;
    color: rgba(169, 68, 66, 0.81);
    text-shadow: 2px 2px rgba(8, 8, 8, 0.4);
    width: 50%;
    left: 10px;
    top: 100px;
    font-size: 18px;
}

/* ====================================================== */

#model-text2 span{
    position: absolute;
    color: #f5f5f5;
    font-size: 12px;
    text-shadow: 2px 2px rgba(60, 118, 61, 0.43);
    left: 20px;
    top: 140px;
    width: 40%;
    height: 20px;
}

#model-text2 p{
    position: absolute;
    color: #8a6d3b;
    font-size: 17px;
    text-shadow: 1px 1px rgba(183, 51, 51, 0.36);
    left: 350px;
    top: 220px;
    width: 40%;
    height: 20px;
}


#model-text2 pre {
    position: absolute;
    display: inline-block;
    color: rgba(169, 68, 66, 0.81);
    text-shadow: 2px 2px rgba(51, 51, 51, 0.82);
    width: 80%;
    left: 210px;
    top: 120px;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit;
    font-size: 18px;
}

#model-text3 span{
    position: absolute;
    color: #f5f5f5;
    font-size: 12px;
    text-shadow: 2px 2px rgba(60, 118, 61, 0.43);
    left: 20px;
    top: 140px;
    width: 40%;
    height: 20px;
}

#model-text3 p{
    position: absolute;
    color: #8a6d3b;
    font-size: 17px;
    text-shadow: 1px 1px rgba(183, 51, 51, 0.36);
    left: 380px;
    top: 170px;
    width: 40%;
    height: 20px;
}


#model-text3 pre {
    position: absolute;
    display: inline-block;
    color: rgba(169, 68, 66, 0.81);
    text-shadow: 2px 2px rgba(51, 51, 51, 0.82);
    width: 80%;
    left: 230px;
    top: 50px;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit;
    font-size: 18px;
}

#model-text4 span{
    position: absolute;
    color: #f5f5f5;
    font-size: 12px;
    text-shadow: 2px 2px rgba(51, 51, 51, 0.82);
    left: 130px;
    top: 120px;
    width: 40%;
    height: 20px;
}

#model-text4 p{
   position: absolute;
    color: #8a6d3b;
    font-size: 17px;
    text-shadow: 1px 1px rgba(183, 51, 51, 0.36);
    left: 240px;
    top: 180px;
    width: 40%;
    height: 20px;
}


#model-text4 strong {
    position: absolute;
    display: inline-block;
    color: rgba(169, 68, 66, 0.81);
    text-shadow: 2px 2px rgba(8, 8, 8, 0.4);
    width: 100%;
    left: 20px;
    top: 80px;
    font-size: 18px;
}

#model-text5 span{
    position: absolute;
    color: #f5f5f5;
    font-size: 12px;
    text-shadow: 2px 2px rgba(51, 51, 51, 0.82);
    left: 90px;
    top: 120px;
    width: 40%;
    height: 20px;
}

#model-text5 p{
   position: absolute;
    color: #8a6d3b;
    font-size: 17px;
    text-shadow: 1px 1px rgba(183, 51, 51, 0.36);
    left: 200px;
    top: 180px;
    width: 40%;
    height: 20px;
}


#model-text5 strong {
    position: absolute;
    display: inline-block;
    color: rgba(169, 68, 66, 0.81);
    text-shadow: 2px 2px rgba(8, 8, 8, 0.4);
    width: 100%;
    left: 20px;
    top: 80px;
    font-size: 18px;
}


 .model-slide:hover {
cursor: pointer;
} 


.rec-model-title {
  position:absolute;
    width:470px;
    height:60px;
    margin-bottom:200px;
} 

/** Carousel Controls **/


/*    ====================슬라이드 ========================== */


.wrapper {
  margin-left:10%;
  
}

.wrapper p {
  font-size:12px;
  color:#BDBDBD;
  
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

 .jcarousel-wrapper .selector {
  width:100%;
  height:100%;
  margin-bottom:50%;
} 

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 520px;
    height: 320px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
     border-radius: 20px;
   border-color: rgba(92, 172, 205, 0.24);
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 120px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}


#like-conts {
	top: -70%;
    left: 65%;
    position: absolute;
    display:none;
    box-sizing: border-box;
    width: 110%;
    height:30px;
}

.like-add, .like-del {
    top: -65%;
    left: 45%;
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: floralwhite;
    width: 110%;
    z-index:9999;
}


/* :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 */

/* 좋아요 목록  X 버튼 */

#x-btn {
    position: absolute;
    top: -40px;
    right: 10px;
    left: 205px;
    top: 7px;
}
.modal-btn {
    cursor: pointer;
}

    
    /* hover 그림자 생기기 */
    
/* .hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}


    hover X 삭제 허버

 .hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index:1000;
}
.hvr-icon-grow-rotate:before {
  content: "\f095";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover:before, .hvr-icon-grow-rotate:focus:before, .hvr-icon-grow-rotate:active:before {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
} */
