@CHARSET "UTF-8";

#container {
  width: 100%; 
  font-size: 13px; 
}

#contents {
  margin: 0 auto;
  width: 960px;
}

.person-back {
  width: 100%; 
  border: 1px solid black; 
  border-radius: 10px; 
}

#back-top.
#back-bottom {
	display: block;
  height: 300px;
}

#back-top {
	background-color: white; 
}

#back-bottom {
	background-color: pink; 
}