 
 
 .ssize {
  width: 240px !important;
  height: 220px;
  border-radius:10px;
    position: absolute;
  top: 0;
}
 
 .video-list {
	padding:auto;
	width:1265px;
	
}


.pageBtn {
    margin-top: 20px;
    margin-left: 591px;
    display: inline-block;
    width: 100px;
    height: 30px;
	
}


.tab:hover {
	cursor:pointer;
}

.btn-type button {
	background-color:transparent;
	border:transparent;
	border-bottom:1px solid black;
}



.videoBox {
    border-right: 1px solid rgba(255, 0, 0, 0.18);
    border-bottom: 1px solid rgba(255, 0, 0, 0.18);
}


.video-like-list, .video-detail-list {
    width: 100%;
    height: 95%;
    padding: 7px 12px;
}

.vdoConts {
	position:relative;
	display:inline-flex;
	margin-bottom: 10px;
	border-right: 1px solid rgba(255, 0, 0, 0.18);
  border-bottom: 1px solid rgba(255, 0, 0, 0.18);
	
}
.vdoConts:hover {
	cursor:pointer;
}

.checked {
	color:#f94e66;
}




