 
 
 .ssize {
  width: 240px !important;
  height: 220px;
  border-radius:10px;
    position: absolute;
  top: 0;
}
 
 .video-list {
	padding:auto;
	width:1265px;
	
}

.app h2 {
  color: #525661;
  font-size: 17px;
/*   box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1); */
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}

.mt-list {
    display: inline-block;
    width: 550px;
    height: 280px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 54px;
    position: relative;
	
}

.mt-conts > img {
	width:100%;
	height:140%;
}

.pageBtn {
    margin-top: 20px;
    margin-left: 591px;
    display: inline-block;
    width: 100px;
    height: 30px;
	
}


.tab:hover {
	cursor:pointer;
}

.btn-type button {
	background-color:transparent;
	border:transparent;
	border-bottom:1px solid black;
}



.videoBox {
    border-right: 1px solid rgba(255, 0, 0, 0.18);
    border-bottom: 1px solid rgba(255, 0, 0, 0.18);
}


.video-like-list, .video-detail-list {
    width: 100%;
    height: 95%;
    padding: 7px 12px;
}

.vdoConts {
	position:relative;
	display:inline-flex;
	margin-bottom: 10px;
	border-right: 1px solid rgba(255, 0, 0, 0.18);
  border-bottom: 1px solid rgba(255, 0, 0, 0.18);
	
}

.checked {
	color:#f94e66;
}




