@CHARSET "UTF-8";
* {
	margin:0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

.planning-box {
  width: 960px;
  height: 75vh;
  background: #fff;
}

.planning,
.planning+div {
	padding: 10px;
}

.planning+div {
	margin: 0 auto;
}

.planning+div hr {
	bottom: 5px;
}

.chatbox {
  position: absolute;
  top: 0;
  padding-top: 60vh;
  width: 960px;
  height: 80vh;
  overflow-x: hidden;
  overflow: scroll;
}

.chatbox::-webkit-scrollbar {
  width: 0px;
}

.chatbox::-webkit-scrollbar-thumb {
	
}

.chatlogs {
	padding: 10px;
	width: 960px;
  background: lightblue;
  margin-bottom: 30px;
}

.chat-form {
	width: 960px;
  overflow: hidden;
  background: cornsilk;
  height: 50px;
  margin: 0;
  position: absolute;
  bottom: -50px;
}
.chat-form textarea {
   background: rgba(0,0,0,.8);
   width: 630px;
   height: 30px;
   border: 2px solid #eee;
   border-radius: 10px;
   padding: 5px 10px;
   resize: none;
   font-size: 12px;
   color: #999;
   margin: 10px 10px 10px 30px;
}

.chat-form textarea:FOCUS {
	background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat-form button {
  background: gray;
  padding: 5px 15px;
  font-size: 12px;
  color: #fff;
  border: none;
  margin: 10px 22px;
  border-radius: 300px;
  box-shadow:0 3px 0 gray;
  cursor:  pointer;
  float: right;
  
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.chat-form button:hover {
	background: black;
}

.chat-form .mento-photo {
	float: left;
  width: 40px;
  height: 40px;
  background: pink;
  border-radius: 50%;
  margin: 5px;
  overflow: hidden;
}

.mento-photo img {
  width: 40px;
  height: 40px;
}

.chat-form .mento-name {
	float: left;
	height: 40px;
	margin-top: 15px;
	margin-left: 10px;
	color: #808080;
	font-weight: bold;
}


/*bubbles*/

@media screen and (min-heigth:900px) {
	.chatlogs {
	  padding-bottom: 100px; 
	}
}





.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

.talk-bubble {
  margin: 10px 30px;
  display: inline-block;
  position: relative;
  min-width: 200px;
  max-width: 360px;
  min-height: 20px;
}

.talk-bubble.left-in {
  background-color: #eee;
}

.talk-bubble.right-top {
  background-color: lightyellow;
}
.border{
  border: 5px solid #666;
}


/* Right triangle placed top right flush. */
.tri-right.right-top {
	float: right;
	display: block;
}
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -35px;
  top: -5px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 2px;
  height: 0;
  left: auto;
  right: -23px;
  top: 0px;
  bottom: auto;
  border: 25px solid;
  border-color: lightyellow transparent transparent transparent;
}
/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -37px;
  right: auto;
  top: auto;
  bottom: -5px;
  border: 32px solid;
  border-color: transparent transparent #666 transparent ;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -25px;
  right: auto;
  top: auto;
  bottom: 0;
  border: 25px solid;
  border-color: transparent transparent #eee transparent;
}


/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  border-radius: 30px;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.chat-wrap {
	clear: both;
	display: block;
}