@CHARSET "UTF-8";
* {
	margin:0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}
body {
}

.planning-box {
  width: 100%;
  height: 400px;
	background: pink;
}










.whole_box {
	width: 900px;
	min-width: 480px;
	height: 750px;
	background: #fff;
	padding: 25px;
}
.chatlogs {
	padding: 10px;
	width: 100%;
	height: 230px;
	overflow-x: hidden;
	overflow-y: scroll;
  background: cornsilk;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat {
	/*display: flex;
	flex-flow: row wrap;
	align-items: flex-start;*/
	margin-bottom: 10px;
}

.chat .chat-message {
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}

.friend .chat-message {
	background: #EBDEF0;
	float:left;
}
.chat.friend {
	overflow: hidden;
}

.self .chat-message {
  background: #FADBD8;
  float:right;
  order: -1;
}
.chat.self {
  overflow: hidden;
}

.chat-form {
  overflow: hidden;
  background: #5499C7;
  height: 50px;
  margin: 10px 0;
}
.chat-form textarea {
	background: #fbfbfb;
	width: 60%;
	height: 30px;
	border: 2px solid #eee;
	border-radius: 300px;
	resize: none;
	padding:2px;
	font-size: 12px;
	color: #999;
	margin: 10px 10px 10px 30px;
}

.chat-form textarea:focus {
	background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat-form button {
  background: gray;
  padding: 5px 15px;
  font-size: 12px;
  color: #fff;
  border: none;
  margin: 10px 22px;
  border-radius: 300px;
  box-shadow:0 3px 0 gray;
  cursor:  pointer;
  float: right;
  
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
}

.chat-form button:hover {
	background: black;
}

.chat-form .mento-photo {
	float: left;
  width: 40px;
  height: 40px;
  background: pink;
  border-radius: 50%;
  margin: 5px;
  overflow: hidden;
}

.mento-photo img {
  width: 40px;
  height: 40px;
}

.chat-form .mento-name {
	float: left;
	height: 40px;
	margin-top: 10px;
	color: #fff;
	font-weight: bold;
}







