@CHARSET "UTF-8";
.container {
	width: 980px;
}
div.caption {
	overflow: hidden;
}
.caption p {
  display: block;
  margin: 0;
}
.caption .btn {
  float: right;
}
div .text {
	display: inline-block;
  width: 100px;
  margin: 0px;
}
a.btn {
  padding: 6px 1px;
}
a.btn img{
  width: 30px;
  cursor: pointer;
}
img{
  cursor: pointer;
}
.thumbnail .caption {
  color: #333;
  padding: 2px;
  font-size: 12px;
}




