@CHARSET "UTF-8";
/* @import "timenormal.css" */
/* body { */
/*   font-family:'time'; */

/* } */
#timer_div {
	font-family:'Digital' !important;
  position: relative;
}
#timer {
  color: #fff;
  left: 5px;
  top: 15px;
  position: absolute;
}