@CHARSET "UTF-8";



body,html,h1,h2,p, div,a,img,span,section,nav,figure,figcaption{
    margin: 0;
    padding: 0;
}

html{ 
    font-size: 15px;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* *{box-sizing: border-box;} */
main{
    width: 80%;
    margin: 2rem auto;
}
section{
    width:100%;
    box-shadow: 0 0 10px 2px #ccc;
    padding: 1rem 0;
}
figure{
    width: calc(100% / 4);
    float: left;
    position: relative;
    margin-bottom: 1rem;
}
section::after,section::before{
    content: "";
    display: block;
}
section::after{
    clear: both;
}
figure a{
    display: block;
    height: 100%;
    width: calc(100% - 2rem);
    margin-left: 1rem;
}
figure img{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 0;
}
figcaption{
    background: #f39f3f;
    color: #fff;
    text-align: center;
    padding: .7rem;
    margin: 0 1rem;
}




@media only screen and (max-width:1024px){
    html{
        font-size: 14px;
    }
    figure{
        width: calc(100% /3);
    }
}
@media only screen and (max-width:840px){
    html{
        font-size: 12px;
    }
    figure{
        width: calc(100% /3);
    }
}
@media only screen and (max-width:640px){
    html{
        font-size: 11px;
    }
    figure{
        width: calc(100% /2);
    }
}
@media only screen and (max-width:400px){
    html{font-size: 10.5px;}
    figure{
        width:100%;
   }
    
}
