@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body {
  background-image: url("../img/forest.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
}

#main_title {
	font-family: 'Nanum Brush Script', sans-serif;
	color: white;
	margin-top: 300px;
	font-size: 80px;
	text-align: center;
}






