.dashboard {
	width: 1265px; 
	height: 700px;
	margin: 110px auto 0 auto;
	border-top: 1px solid rgba(211, 211, 211, 0.3);
	border-right: 1px solid rgba(1, 1, 1, 0.3);
	border-bottom: 1px solid rgba(1, 1, 1, 0.3);
	flex-direction: row;
}

.thumb, .sub-board div {
	position: relative;
	left: 6px;
	width: 300px; 
}


/* 썸네일 영역 */

.thumb-board {
	display: flex;
}

.thumb {
	height: 550px; 
	border: 1px solid rgba(180, 180, 180, .3);
	border-radius: 3px;
	margin: 20px 0;
	overflow: hidden;
}

.one {
	left: 13px;
}
.two {
	left: 23px;
}
.thr {
	left: 33px;
}
.fou {
	left: 43px;
}


/* 설명 영역 */

.sub-board {
	display: flex; 
	margin-top: -20px;
}

.sub-board div {
	padding: 0 20px;
}

.sub-board h2 {
	text-shadow: rgba(65, 44, 40, .5) 1px 1px;
}

.sub-board p {
	padding: 0 5px;
}