/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  color: #8b9095;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*--------------------
Dashboard
--------------------*/
.dashboard {
  position: relative;
  top: 390px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1265px;
  height: 700px;
  background: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

/*--------------------
Persons
--------------------*/
.persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 18px;
}
.persons .person {
  padding: 10px;
  cursor: pointer;
}
.persons .person .poster {
  width: 288px;
  height: 600px;
  margin-bottom: 6px;
  border-radius: 4px;
}
.persons .person .poster.active {
  opacity: 0;
}
.persons .person .title {
  color: #525661;
  margin-bottom: 4px;
  font-size: 16px;
}
.persons .person .info {
  font-size: 11px;
  opacity: .8;
}
.persons .person .desc {
  display: none;
}

/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 80px 110px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid #FFF;
  box-sizing: content-box;
  z-index: 10;
}
.detail .poster {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #525661;
  margin-bottom: 5px;
}
.detail .info {
  font-size: 11px;
  opacity: 0;
  margin-left: 2px;
}
.detail .desc {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.6;
}
.detail .play {
  background: -webkit-linear-gradient(left, #E4761F, #FF8B32);
  background: linear-gradient(90deg, #E4761F, #FF8B32);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 17px;
  margin: 30px 0 0 -2px;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 0;
}
.detail .play svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.detail.ready .title {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.detail.ready .info {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.detail.ready .desc {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.detail.ready .play {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
