@charset "UTF-8";


@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
.Brush {
  font-family: 'Nanum Brush Script', serif;
}
/* 차트 */
#chartdiv {
  width: 100%;
  height: 100%;
  
}
.chart-wrapper {
  width: 850px;
  height: 285px;
  margin-left: 97px;
  position: relative;
  margin-bottom: 30px;
}
.amcharts-balloon-div, .amcharts-balloon-div-categoryAxis {
  display: none;
  width: 0;
  height: 0;
}

.adding-part-a {
  position: fixed;
  color: #ffffff;
}
.adding-part-a > * {
  position: absolute;
  top: 115px;
  width: 205px;
}

.adding-part-b {
  font-family: "Covered By Your Grace";
  font-size:17;
  position: fixed;
  top: 0;
  color: #ffffff;
}
.adding-part-b > * {
  position: absolute;
  top: 160px;
  left: 846px;
  width: 125px;
}
.intuition {
  top: 210px;
}
.feeling {
  top: 265px;
}
.perceiving {
  top: 318px;
}
.adding-part-k {
  font-size: 22px;
}
.extraverted {
  top: 38px;
  left: -12px;
}
.sensing {
  top: 89px;
  left: 21px;
}
.thinking {
  top: 142px;
  left: 23px;
}
.judging {
  top: 194px;
  left: 16px;
}


/* 임시 대시보드 지정 */

.temp-dashboard {
    height: 800px;
    width: 1150px;
    /* border: 1px solid black; */
    margin: 60px auto;
    /* background: rgba(0,0,0,0.8); */
    /* position: absolute; */
    top: 0;
    left: 0;
}

/* 유형 이름*/
.mbti-type-e {
  font-family: 'Roboto';
  font-size:40px;
  display: inline-block;
  margin-right: 9px;
}
.mbti-type-k {
  font-size:37px;
  display: inline-block;
}
.mbti-title {
  width: 400px;
  margin: 10px;
  margin-left: 364px;
  text-align: center;
  color: #ffffff;
}

/* 간단한 유형정리 */
.description-first, .description-second, .description-third {
  border: 1px solid black;
  width: 328px;
  height: 314px;
  display: inline-block;
  font-size: 15px;
  float: left;
  position: relative;
  background-color: rgba(255,255,255,0.5);
}

.description-first-context,.description-second-context,.description-third-context {
	text-align: left;
  padding: 10px;
  margin-top: 20px;
  margin-left: 2px;
  font-family: Malgun Gothic;
}
.description-first {
  background-color: #F0ECE0;   /* #F1E1AD; */ 
  margin-left: 28px;
}

.description-second {
  background-color: #D7C6E5; 
  margin-left: 49px;
}
.description-third {
  background-color: #F4D5C9; 
   margin-left: 50px;
}
.description-wrapper {
  height: 302px;
}
.description-ul {
  padding-left: 27px;
  font-size: 14px;
  font-weight: 600;
}
.description-ul li {
  margin:8px 0;
}


/* 리본 */
.ribbon {
  padding: 5px;
  color: #1C2833;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 0;
  width: 356px;
}
.ribbon-position1 {
  background-color: #F1E1AD;
  top: -6px;
  left: -19px;
}

.ribbon-position2 {
  background-color:#CAA8E6;
  top: -6px;
  left: -19px;
}

.ribbon-position3 {
  background-color: #FFB192;
  top: -6px;
  left: -19px;
}

.ribbon-custom {
  /* background-color: #F7DC6F; */
  position: absolute;
  z-index: 6;
  font-weight: 600;
}
.ribbon-custom:before, .ribbon-custom:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  font-size: 0;
  line-height: 0;
  z-index: 5;
  border-top: 0 solid transparent;
  border-bottom: 15px solid transparent;
  bottom: -15px;
}
.ribbon-custom:before {
  border-left: 20px solid #FDF2E9;
  right: 0;
}
.ribbon-custom:after {
  border-right: 20px solid #FDF2E9;
  left: 0;
}