#test1, #test2, #test3, #test4 {
  background-color: #ff8040;
  border-radius: 75px;
  width: 95px;
  height: 95px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  padding-top: 37px;
  font-size: 18px;
  transition: height 250ms linear, width 250ms linear, padding-top 250ms linear, border-radius 250ms linear, margin 250ms linear, opacity 250ms linear;
  cursor: pointer;
  opacity: 0.8;
  float: left;
  margin: 76px -37px;
}

#test1:hover,#test2:hover, #test3:hover, #test4:hover {
  width: 95px;
  height: 95px;
  padding-top: 38px;
  border-radius: 82px;
/*   margin-left: -2px;
  margin-top: -2px; */
}

#test1 {
  margin-left:  -32px;
  background-color: #DFCEE2;
}
#test2 {
  margin-left: -39px;
  background-color: #537FEA;
}
#test3 {
  margin-left: -30px;
  background-color: #91C8E5;
}
#test4 {
  margin-left: -42px;
  background-color: #919EE5;
}

@keyframes pulse1 {
  from {
    box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(223, 206, 226, 1);
  }
  to {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(223, 206, 226, 0);
  }
}

@keyframes pulse2 {
  from {
    box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(83, 127, 234, 1);
  }
  to {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(83, 127, 234, 0);
  }
}

@keyframes pulse3 {
  from {
    box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(145, 200, 229, 1);
  }
  to {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(145, 158, 229, 0);
  }
}

@keyframes pulse4 {
  from {
    box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(145, 158, 229, 1);
  }
  to {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(145, 158, 229, 0);
  }
}

.pulsate1 {
  box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(223, 206, 226, 1);
  animation: pulse1 1.5s ease-out 1s infinite forwards;
  position: absolute;
  top: -137px;
  left: 85px;
}
.pulsate2 {
  box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(83, 127, 234, 1);
  animation: pulse2 1.5s ease-out 1s infinite forwards;
  position: absolute;
  top: -137px;
  left: 96px;
}
.pulsate3 {
  box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(145, 158, 229, 1);
  animation: pulse3 1.5s ease-out 1s infinite forwards;
  position: absolute;
  top: -137px;
  left: 82px;
}
.pulsate4 {
  box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px rgba(145, 158, 229, 1);
  animation: pulse4 1.5s ease-out 1s infinite forwards;
  position: absolute;
  top: -137px;
  left: 93px;
}

div#test4 {}


/* ìƒˆë¡œ ì •í•œ ì¹´ë“œ ë””ìžì¸ */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.seeds {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  height: 740px;
  width: 1285px;
  margin: 0 auto;
}

.seeds section {
  width: 900px;
  margin: 0 auto;
}

.seeds .title {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: #686e74;
    text-align: center;
    width: 800px;
    margin: 20px 0px 155px 230px;

}

.seeds .cards {
  padding-top: 2rem;
  display: flex;
  /* justify-content: space-between; */
}

.seeds .card {
  width: 200px;
  height: 250px;
  background-color: #f9fbfb;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #5a6c7a;
  /* font-weight: 700; */
  line-height: 20.5px;
  letter-spacing: 0.5px;
  box-shadow: 0 2rem 4rem #aac1c7;
  margin: 10px;
}
.seeds .card__svg-container {
  /* height: 50%; */
  /* display: -webkit-box; */
  /* -webkit-box-pack: center; */
  /* -webkit-box-align: end; */
}
.seeds .card__svg-wrapper {
  width: 8rem;
}
.seeds .card__count-container {
  flex-grow: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.seeds .card__count-text {
  
font-size: 12px;
  
margin-right: -5px;
}
.seeds .card__count-text--big {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
}
.seeds .card__stuff-container {
  margin: 0 auto;
  width: 90%;
  height: 15%;
  border-top: 2px solid #e7edef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.seeds .card__stuff-icon, .card__stuff-text {
  display: inline-block;
}

.seeds .card__stuff-text {
  text-transform: uppercase;
  margin-left: .4rem;
  -webkit-transform: translate(0, -0.2rem);
  transform: translate(0, -0.2rem);
  font-size: 11px;
}
.seeds .card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 5.625rem;
  -webkit-transform: translate(1.5rem, 22.5rem);
          transform: translate(1.5rem, 22.5rem);
}



.dream, .tree {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 73px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    position: relative;
    top: 60px;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 96px;
    border-radius: 20px;
}

.dream span,
.tree span {
    font-size: 34px;
    margin-top: 10px;
}

.dream {
    color: rgba(85, 85, 85, 0.78);
    margin-left: -235px;
}
.tree {
      color: rgba(85, 85, 85, 0.61);
      margin-left: 162px;
}






