@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


/* 가입권유메세지 */


.Message {
  position: relative;
  margin: 33px auto 0;
  width: 478px;
  height: 81px;
  background-color: #7dcfc6;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 6px;
  padding: 11px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.08);
}
.Message-icon > i {
  width: 20px;
  font-size: 20px;
}

.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 12px 19px 10px;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
  font-size: 12px;
}

.Message-button {
  position: relative;
  margin: -3px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 6px 11px;
  font-size: 11px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.Message-button a {
	text-decoration: none;
}
a:visited {
  color: #fff;
}
.Message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}

.Message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.Message:hover .Message-close {
  opacity: 1;
}
.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
