@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pangolin');


/* 초기화 */
body { overflow: auto; }

h3 {
    position: relative;
    margin: 0 auto;
    margin-left: 10%;
    width: 50%;
    margin-top: 5px;
}

/* .user-info {
	border: 2px solid red;
    display: inline-block;
    width: 40%;
    height: 100%;
    left: 42%;
    overflow: hidden;
} */

#user-phot img {
/*     border: 2px solid red; */
    position: relative;
    display: inline-block;
    left: 0;
    margin-top: 1%;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#user-phot {
/*     border: 2px solid red; */
    position: relative;
    display: inline-block;
    left: 2%;
    margin-top: 1%;
    margin-right: 0px;
    width: 20%;
    height: 80%;
    border-radius: 100%;

}

.user-detail {
    display: inline-block;
    position: absolute;
/*     border: 2px solid red; */
    left: 6%;
    width: 30%;
    height: 100%;
        padding: 0 1%;
}
#name, .mylist {
	display: block;
/* 	border: 2px solid red; */
	    height: 50%;
	    text-align: center;
}

.mylist {
    position: relative;
    bottom: 7px;
    padding-right: 15%;
}


.likes, .follows, .questions {
	 display: inline-block;
/* 	     border: 2px solid red; */
    width: 20%;
    height: 100%;
    margin-right: 3%;
}



.menu, .myself, .message { /* 메뉴바 오른쪽 */
	    margin: 0 5%;
	    display: inline-block;
    outline: none;
    position: relative;
    width: 30px;
    height: 26px;
    background: url(https://s.pinimg.com/webapp/style/images/webapp-common-above_the_fold-1x-5d23fe54.png) -212px -210px no-repeat;
    vertical-align: baseline;
        border-color: transparent;
}

.myself {
	    width: 24px;
    background: url(https://s.pinimg.com/webapp/style/images/webapp-common-above_the_fold-1x-5d23fe54.png) -163px -296px no-repeat;

}

.message {
	  width: 25px;
    background: url(https://s.pinimg.com/webapp/style/images/webapp-common-above_the_fold-1x-5d23fe54.png) -47px -296px no-repeat;
	
}
