@CHARSET "UTF-8";
@font-face {
  font-family: logo;
  src: url(../font/RumRaisin-Regular.ttf);
}
@font-face {
  font-family: Menus;
  src: url(../font/TenaliRamakrishna-Regular.ttf);
}

/*-- background 영역 --*/
body {
  margin: 0;
/*   background: rgba(250, 245, 230, .5); */
  background: linear-gradient(90deg, rgba(207, 236, 208, 0.2), rgba(255, 197, 202, 0.2));
  overflow: auto;
}

/*-- header 영역 --*/
.header-wrap {}
.logo-bottom, .header-menus, 
.header-menus li, .header-thumb, .header-icons {
  display: inline-block;
  cursor: pointer;
}
.header-wrap {
  width: 70vw;
  min-width: 1340px;
  margin: 0 auto;
  position: relative;
}
.header-menus {
  position: absolute;
  margin: 0 15vw;
  bottom: 13px;
}
.header-menus a:link, .header-menus a:visited {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.9);
}
.header-menus ul {
  margin-bottom: 0px;
  padding: 0;
}
.header-menus li {
  margin: 0 15px;
  color: rgba(128, 128, 128, 0.9);
  font-size: 34px;
  font-weight: 300;
  font-family: Menus;
}
.header-menus li:hover, .header-menus li a:hover {
  color: rgba(255, 99, 71, 0.7);
}
.header-icons {
  position: absolute;
  right: 30px;
  bottom: 26px;
}
.header-icons img{
  margin: 0 5px;
}

.sign-out-icon {
  display: inline-block;
}
.user-menu-toggle {
  display: inline-block;
}


.sign-default {
  position: relative;
  top: -1px;
}
.header-bottom, .header-top {
  background: #FFF;
}
.header-top {
  background: #FFF;
  height: 90px;
}
.header-bottom {
  background: linear-gradient(90deg, rgba(207, 236, 208, 0.45), rgba(255, 197, 202, 0.45));
  height: 100px;
}
.logo-bottom {
  width: 165px;
  height: 60px;
  line-height: 60px;
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
  border-radius: 15px;
  padding: 0 20px;
  margin: 15px 35px;
  font-weight: 300;
  font-size: 40px;
  font-family: logo;
}
.logo-bottom a:link, .logo-bottom a:visited {
  text-decoration: none;
  color: #FFF;
}

/*-- dashboard 영역 --*/
.dashboard {
  height: 740px;
  margin: 3vw auto;
  width: 1285px;
  background: #FFF;
  border: 10px solid #FFF;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}


/*--토글 영역(사용자메뉴)--*/
.user-menu {
  width: 300px;
  background: #f9f9f9;
  position: absolute;
  left: -232px;
  top: 44px;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 3;
}
.user-menu::after {
  display: block;
  right: 0;
  content: " ";
  height: 0;
  top: -10px;
  width: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
}
.user-menu::before {
  display: block;
  right: -1px;
  content: " ";
  height: 0;
  top: -11px;
  width: 0;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #f2f2f2;
}
.user-menu .user-info {
  border-bottom: 1px solid #f2f2f2;
  padding: 0px 10px;
  position: relative;
}

.user-menu .user-info .profile-img {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    margin: 4px 0px;
}
.user-menu .user-info h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #8e9299;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  padding-left: 20px;
}
.user-menu .user-info .btns {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.ui.btns.normal {
  padding: 3% 3%;
  background: #7dcfc6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 11px;
  cursor: pointer;
}
.ui.btns.normal:hover, .ui.btns.normal:focus {
  outline: none;
  background: #006e63;
}

.user-menu .invites-info {
    border: 1px solid #f2f2f2;
    padding: 2px 10px;
    height: 89px;
    display: block;
}
.user-menu .invites-info .next-invite-bar {
  height: 20px;
  background: #ddd;
  border: 1px solid #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.user-menu .invites-info .next-invite-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 0px 0px 20px;
  background: #7dcfc6;
  height: 100%;
}
.user-menu .invites-info span {
  margin-left: 10px;
  padding: 5px 0;
  color: #ddd;
  font-size: 11px;
  line-height: normal !important;
  display: block;
}
.user-menu .invites-info p {
  font-size: 11px;
  line-height: normal;
  color: #8e9299;
  float: left;
  margin: 14px 10px;
}
.user-menu .invites-info .btns {
  float: right;
  font-size: 11px;
  margin: 2px 0;
}
.user-menu .menu-nav {
  list-style-type: none;
}
.user-menu .menu-nav li {
  padding: 7px 10px;
  line-height: normal;
  color: #8e9299;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  font-size: 11.5px;
}
.user-menu .menu-nav li span {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
.user-menu .menu-nav li:hover {
  background: #f2f2f2;
  color: #7dcfc6;
}


.header-menu-number {
  color: #fff;
  position: absolute;
  line-height: 19px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 50%;
  top: 149px;
  right: 165px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-decoration: none;
}

/*--토글 영역(채팅메뉴)--*/

.message-menu-toggle {
    display: inline-block;
}



.message-menu {
  width: 228px;
  background: #f9f9f9;
  position: absolute;
  left: -123px;
  top: 44px;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 3;
}
.message-menu::after {
  display: block;
  right: 0;
  content: " ";
  height: 0;
  top: -10px;
  width: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
}
.message-menu::before {
  display: block;
  right: -1px;
  content: " ";
  height: 0;
  top: -11px;
  width: 0;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #f2f2f2;
}
.message-menu .message-info {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.message-menu .message-info li .profile-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  margin: 4px 0px;
}
.message-menu .message-info > h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #8e9299;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  padding-left: 20px;
} 

 .message-info li {
  padding: 7px 10px;
  line-height: normal;
  color: #8e9299;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  font-size: 11.5px;
  position: relative;
}
.message-menu .message-info {
  list-style-type: none;
}
h3.name {
  display: inline-block;
  padding-left: 6px;
}
.message-menu .message-info li:hover {
    background: #f2f2f2;
    color: #7dcfc6;
}

.message-number {
  color: #fff;
  position: absolute;
  line-height: 19px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 50%;
  top: 13px;
  right: -28px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-decoration: none;
}
span.job-sort {
  position: absolute;
  top: 16px;
  left: 56px;
  padding-left: 8px;
}
span.message-context {
  position: absolute;
  top: 16px;
  padding-left: 8px;
}







